.search-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #fea116;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
    margin-top: 25px;
}

button:hover {
    background-color: #0f172b;
    color: white;
}

.result-container {
    margin-top: 20px;
}

.result-container h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.result-container .result-item {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
    margin-bottom: 10px;
}

.result-container .result-item:nth-child(odd) {
    background: #e9ecef;
}

.result-container .result-item.visible {
    opacity: 1;
    transform: translateY(0);
}


.read-more-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #0f172b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    border: none;
}

.read-more-button:hover {
    background-color: #1e293b; /* Optional: a slightly lighter shade for hover effect */
    color: #fea116;
}

@media (max-width: 600px) {
    #search-form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 10px;
    }

    button {
        margin-top: 10px;
    }
}

