.loghead {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
  }
  
  .logcontainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    margin: 20px;
    font-family: Arial, sans-serif;
    
  }

  .text{
    color: black;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  label {
    font-size: 1.2rem;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* button {
    background-color: #0F172B;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #FEA116;
  } */

  button {
    padding: 10px 20px;
    background-color: #0F172B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
    margin-top: 25px;
}

button:hover {
    background-color: #FEA116;

}


  
  .hidden {
    display: none;
    color: black;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }
    label, select, button {
      font-size: 1rem;
    }
  }
  
